.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .15;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    &__content{
        // 100% high and wide will not going to fix the problem as it maintains the aspect ratio of video, less width automatically means less height, so we use object-fit property
        height: 100%;
        width: 100%;
        object-fit: cover;
        //object-fit: cover is similar to background-size:cover. It will fill the entire parent while maintaining the aspect ratio

    }
}
